In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from prettytable import PrettyTable
from collections import Counter
import operator
%matplotlib inline
TOP = 15

In [2]:
df_business = pd.read_json('../../dataset/business.json', lines=True)

In [3]:
df_checkin = pd.read_json('../../dataset/checkin.json', lines=True)

In [4]:
top_cities = ["Las Vegas","Phoenix","Toronto","Charlotte","Scottsdale",
              "Pittsburgh","Montréal","Mesa","Henderson","Tempe","Chandler","Edinburgh","Cleveland","Madison","Glendale"]

In [5]:
df_checkin.head(5)

              business_id                                               time
0  7KPBkxAOEtb3QeIL9PEErg  {'Thursday': {'21:00': 4, '1:00': 1, '4:00': 1...
1  kREVIrSBbtqBhIYkTccQUg  {'Monday': {'13:00': 1}, 'Thursday': {'20:00':...
2  tJRDll5yqpZwehenzE2cSg  {'Monday': {'12:00': 1, '1:00': 1}, 'Saturday'...
3  nhZ1HGWD8lMErdn3FuWuTQ  {'Sunday': {'18:00': 1, '17:00': 2, '22:00': 1...
4  vDoXZGE7p6xAkKQ0XQPvoA  {'Thursday': {'15:00': 1}, 'Saturday': {'23:00...

In [6]:
df_checkin = pd.merge(df_checkin, df_business[['business_id','latitude','longitude','name','categories','city','neighborhood','review_count','stars']], on='business_id', how='left')

In [7]:
df_checkin.dtypes

business_id      object
time             object
latitude        float64
longitude       float64
name             object
categories       object
city             object
neighborhood     object
review_count      int64
stars           float64
dtype: object

In [8]:
df_checkin.shape
print("Total Checkins: {}".format(df_checkin.shape[0]))

Total Checkins: 135148

In [9]:
c_weekday = Counter()
c_weekend = Counter()


def sum_time(df):
    c = Counter()
    for times in df:    
        for day in times:
            c.update(times[day])    
    return sorted(c.items(), key=operator.itemgetter(1))[-3:]
#             = Counter()
#             if day in ['Monday','Tuesday','Wednesday','Thursday']:
#                 c_weekday.update(times[day])
#             else:
#                 c_weekend.update(times[day])
    
group = df_checkin.groupby(['city']).agg({'time': sum_time})

In [60]:
group = group.reset_index()
cities = pd.DataFrame({'city':top_cities, 'matched':True})
group = group.merge(cities,how='inner',on='city')

In [66]:
group[['city','time']]

          city                                               time
0     Chandler     [(2:00, 34479), (19:00, 36988), (1:00, 39656)]
1    Charlotte   [(22:00, 64241), (17:00, 64472), (23:00, 72857)]
2    Cleveland    [(0:00, 21725), (22:00, 23961), (23:00, 25273)]
3    Edinburgh      [(12:00, 7720), (17:00, 7822), (18:00, 8324)]
4     Glendale      [(0:00, 20438), (2:00, 20472), (1:00, 23372)]
5    Henderson     [(20:00, 51439), (2:00, 53762), (1:00, 54136)]
6    Las Vegas  [(20:00, 441484), (1:00, 447715), (2:00, 481180)]
7      Madison     [(1:00, 15968), (23:00, 18773), (0:00, 19747)]
8         Mesa     [(2:00, 30860), (19:00, 31840), (1:00, 34917)]
9     Montréal    [(22:00, 17128), (0:00, 17196), (23:00, 18541)]
10     Phoenix  [(2:00, 170967), (19:00, 173996), (1:00, 188606)]
11  Pittsburgh   [(16:00, 36995), (22:00, 41485), (23:00, 43827)]
12  Scottsdale  [(0:00, 116834), (1:00, 128978), (19:00, 142432)]
13       Tempe     [(2:00, 49823), (19:00, 53595), (1:00, 54233)]
14     Toronto    [(0:00, 67390), (22:00, 67789), (23:00, 75615)]