In [68]:
import pandas as pd
import matplotlib.pyplot as plt
from prettytable import PrettyTable
from collections import Counter
import operator
%matplotlib inline
TOP = 15

In [4]:
df_business = pd.read_json('../../dataset/business.json', lines=True)

In [19]:
df_checkin = pd.read_json('../../dataset/checkin.json', lines=True)

In [20]:
df_checkin.head(5)

              business_id                                               time
0  7KPBkxAOEtb3QeIL9PEErg  {'Thursday': {'21:00': 4, '1:00': 1, '4:00': 1...
1  kREVIrSBbtqBhIYkTccQUg  {'Monday': {'13:00': 1}, 'Thursday': {'20:00':...
2  tJRDll5yqpZwehenzE2cSg  {'Monday': {'12:00': 1, '1:00': 1}, 'Saturday'...
3  nhZ1HGWD8lMErdn3FuWuTQ  {'Sunday': {'18:00': 1, '17:00': 2, '22:00': 1...
4  vDoXZGE7p6xAkKQ0XQPvoA  {'Thursday': {'15:00': 1}, 'Saturday': {'23:00...

In [24]:
df_checkin = pd.merge(df_checkin, df_business[['business_id','latitude','longitude','name','categories','city','neighborhood','review_count','stars']], on='business_id', how='left')

In [25]:
df_checkin.dtypes

business_id      object
time             object
latitude        float64
longitude       float64
name             object
categories       object
city             object
neighborhood     object
review_count      int64
stars           float64
dtype: object

In [26]:
df_checkin.shape
print("Total Checkins: {}".format(df_checkin.shape[0]))

Total Business: 135148

In [127]:
c_weekday = Counter()
c_weekend = Counter()


def sum_time(df):
    c = Counter()
    for times in df:    
        for day in times:
            c.update(times[day])    
    return sorted(c.items(), key=operator.itemgetter(1))[-3:]
#             = Counter()
#             if day in ['Monday','Tuesday','Wednesday','Thursday']:
#                 c_weekday.update(times[day])
#             else:
#                 c_weekend.update(times[day])
    
group = df_checkin.groupby(['city']).agg({'time': sum_time})

In [128]:
group.filter(like='Toronto', axis=0)

                                                             time
city
Downtown Toronto             [(21:00, 3), (17:00, 5), (18:00, 6)]
North Toronto                 [(21:00, 4), (0:00, 5), (23:00, 6)]
Toronto           [(0:00, 67390), (22:00, 67789), (23:00, 75615)]
Toronto, Ontario          [(17:00, 40), (19:00, 50), (18:00, 64)]
West Toronto                                          [(3:00, 1)]